<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>After School Club</title>
</head>

<body>

    <div id="app">
        <header> <h1>After School Club</h1> </header>

        <button @click="toggleShowProduct">
            {{totalItemsInTheCart}}
            <span class="fas fa-shopping-cart"></span>
            Checkout
        </button>

        <div v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product.title"></h1>
                <p v-html="product.location"> </p>
                <p>Price: {{product.price}}</p>
    
                <button v-on:click="addItemToCart" v-if="canAddToCart">Add to the Cart</button>
    
                <div v-else>
                <button disabled>Add to the Cart</button> 
                <p>You have added smth smth... </p>
                </div>
    
            </main>

        </div>

        <div v-else>
            <h2>Welcome to the checkout page! </h2>


         </div>

    </div>

    <script>
        let webstore = new Vue({
            el: "#app",
            data: { 
                    sitename: "After School Club",
                    showProduct: true,
                    product: {
                        id: 1001,
                        title: "Math",
                        location: "London",
                        price: 100,
                        image: "math_icon.png",
                        availableItemsInventory: 5
                     },

                     cart: []
            },
            methods: {
                addItemToCart: function() {
                    this.cart.push(this.product.id);

                },
                toggleShowProduct() {
                    this.showProduct=this.showProduct ? false : true;

                }


            },
            computed: {
                totalItemsInTheCart: function() {
                    return this.cart.length || " ";

                },
                canAddToCart() {
                    return this.product.availableItemsInventory > this.totalItemsInTheCart;
                }

            }
        })

    </script>

</body>
</html>